@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="logo_wrapper">
    <div class="logo_container">
        <h2 id="logo"><span class="letterT">T</span>EACHOU<span class="letterT">T</span></h2>
        <hr id="logo_underline" />
        <h2 id="logo_bottom">R e a l<span class="spacer"></span>E s t a t e<span class="spacer"></span>G r o u p</h2>
    </div>

    <div class="quickSearch_container">

    </div>
</div>

<div id="intro_wrapper">
    <div class="container">
        <h4>
            Jessica Teachout offers exceptional customer service and extensive knowledge of Houston home sales. Jessica Teachout started her real estate career in 2001 working for a new home builder while attending college. Teachout pursued a career in property management for several large corporations before deciding to join Keller Williams Realty in 2007.  In 2010, Jessica became a real estate broker associate with Keller Williams and opened Teachout Real Estate Group shortly after.<br /><br />

            Teachout Real Estate Group currently ranks within the top 22% of real estate brokerage firms in Houston, TX ( Based on a report pulled June 2013 from The Houston Association of Realtors). This report includes all 2,963 franchise and boutique real estate broker firms registered with HAR.  In addition, Teachout is the # 1 listing broker for the Braeswood area ( HAR June 2013). Braeswood ranks number #11 in Houston's hottest real estate zip codes (77030).<br /><br />

            Teachout open and ready to serve you now and for the following years to come!  Whether you are looking to buy, sell or lease, allow let Teachout's real estate team go to work for you!  Check out our 5-STAR customer service rating on HAR.com!
        </h4>
    </div>
</div>

<div id="parallax2"></div>

<div id="about_wrapper">
    <div class="container">
        
    </div>
</div>

